.hero {
  background-image: url(/heroImage.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.heroText{
  margin-left: 50px;
  width:450px
}

.heroText h1 {
  font-size: 38px;
  color: #fff;
  font-weight: bold;
}

.heroText p {
  margin-top: 20px;
  font-size: 20px;
  color: #f0f0f0;
  padding-right: 100px;
}

.whoWeAre {
  padding: 50px 100px;
}

.whoWeAre h2 {
  font-size: 36px;
}

.whoWeAre p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  width:800px;
  margin-top: 30px;
}

.partnerships {
  padding: 50px 100px;
  background-color: #f9f9f9;
}

.partnerships h2{
  font-size:36px;
  margin-bottom: 20px;
}

.partnerships p{
  margin-bottom: 50px;
}

.partnershipsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.partner {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.partner h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.managementTeam {
  padding: 50px 100px;
}

.managementTeam h2 {
  font-size: 36px;
}

.managementTeamMember {
  display: flex;
  align-items: center;
  margin-top: 40px;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
}

.managementTeamImage img{
  border-radius: 20px;
}

.managementTeamText h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.managementTeamText p {
  padding-right:100px
}

.managementTeamImage {
 margin:0 20px
}

@media (max-width: 1240px){
  .heroText{
    margin-left: 50px;
    width:400px
  }
}

@media (max-width: 1024px){
  .heroText{
    margin-left: 30px;
  }
}

@media (max-width: 960px){
.hero{
  background-image: url(/heroImageResize1.png);
  justify-content: center;
}

.heroText{
  margin-left:0;
  text-align:center;
  margin-top: 250px;
}

.heroText p{
  padding-right:0
}

.whoWeAre {
  text-align: center;
  padding: 50px 50px;
}

.whoWeAre p {
  width: auto
}

.partnerships{
  text-align: center;
}
.managementTeamMember {
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align text to the left */
}

.managementTeamImage {
  margin: 0 auto
}

.managementTeamText {
  text-align: center; /* Center text for smaller screens */
}

.managementTeamText p {
  padding:0 100px
}

.managementTeam h2{
  text-align: center;
}
}

@media (max-width:800px){
  .managementTeamText p {
    padding:0 50px
  }
}

@media (max-width:650px){
  .managementTeamText p {
    padding:0
  }
}


@media (max-width:530px){
  .partnershipsContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width:530px){
  .partnershipsContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width:454px){
  .partner {
    padding:10px
  }

  .partnerships{
    padding: 50px 50px;
  }

  .managementTeam{
    padding:50px 50px
  }
}

@media (max-width:415px){
  .heroText p{
    padding: 0 10px;
  }
}

@media (max-width:375px){
  .heroText{
    margin-top: 270px;
  }
  .heroText h1{
    font-size:36px
  }

  .managementTeamImage img{
    width:170px;
    height:170px
  }
}